<div class="title">
  <h2>About <span class="byline">Keith</span></h2>
</div>
<p>Keith is a self described jack-of-all-trades. He has always been a tinkerer,
  interested in the inner workings of anything mechanical. As a child he would
  often take apart broken toys and attempt to fix them. This would later manifest
as building r/c cars, upgrading PC's,and fixing cars. </p>
<p>Never satisfied with what he was doing and always looking to learn more, he's
  worked a variety of jobs in different industries. He started out working at
  local restaurants and grocery stores then jumped to sales and customer service
  in retail. Playing with the latest in technology got him back into networking
  classes which took him down a path of supervisor, foreman, and project manager
  in IT infrastructure/construction.</p>
<p>From there Keith took on college starting at York College of Pennsylvania
  getting in his core studies, then transferring to University of Phoenix online
  - giving him the flexibility to continue his studies while also caring for his
  new born son... not to mention his continuation of accelerated learning. Keith
  completed his coursework and earned his BA in Information Technology in three years.</p>
<p>However, an IT job wasn't in the cards. After a brief stint in tech support,
  Keith found himself in logistics as a 3PL warehouse manager. From there, Keith started
and completed MBA coursework with Western Governors University, while providing IT input
and pushing senior management towards an electronic document system and away from paper
  record keeping as a whole.</p>
<p>In 2008, sales were slowing, manufacturing was halting, and inventories were shrinking.
  Keith found himself laid off.</p>
<p>Despite trying his best, jobs were scare and interviews even more so. In 2011, Keith
became an employee of the Commonwealth of Pennsylvania where he quickly put his analytical
 and problem solving skills to use as a management analyst. Since then, Keith has taken a
  management position as a business analyst and now is currently an applications developer.</p>
<p>Keith can be found working on his car, tossing the football around with his son, and learning Ruby on Rails.</p>