<div class="title">
  <h2>Contact <span class="byline">Keith</span></h2>
</div>
<p>The best way to contact me is via the LinkedIn link at the bottom right, or at
  <a href="mailto:keith.eckelmeyer@gmail.com">Keith.Eckelmeyer@gmail.com</a></p>
<p>I'm always looking for freelance work and am willing to volunteer my Ruby on Rails skills for non-profits.</p>