<body>
    <h1>Keith Eckelmeyer's</h1>
    <h2>Ruby on Rails Project Page</h2>
    <hr>
    <br>
    <p>Hello everyone and welcome to my adventure with Ruby on Rails!</p>
    <p>This site will house all of my Ruby on Rails projects.
      The first of which is the <%= link_to 'Blog', controller: 'articles' %>
      application from <a href="http://guides.rubyonrails.org/getting_started.html">
      RubyOnRails.org</a></p>
    <p>Future apps or enhancements I plan on developing are:</p>
    <ul>
      <li>User creation and authentication for my blog commenters
        (from a twitter clone app) </li>
      <li>A hangman game (from a tutorial)</li>
      <li>Web design enhances (some via CSS tutorials,
        some others from Bootstrap or Material Design)</li>
      <li>A few calculators, such as a basic, interest,
        and loan/amortization.</li>
      <li>And as a capstone project (and something near and dear to my heart),
        a database of ferret foods, ranking them using a previously developed
        scale based on the ingredients. </li>
    </ul>
    <br>
    <p>Feel free to check in periodically and see where I am at,
      what I have learn, and what tips I have to share for new Rails developers</p>
    <br>
    <p>My Apps:</p>
    <ul>
      <li><%= link_to 'My Blog', controller: 'articles' %></li>
      <li><%= link_to 'Resource Categories', controller: 'categories' %></li>
    </ul>

</body>