<div class="title">
  <h2>Ruby on Rails <span class="byline">Projects</span></h2>
</div>
<p>Coming soon.</p>
<p><a href="#">Resources List</a></p>
<p><a href="#">Categories (for resource list)</a></p>
<p><a href="#">Ferret Kibble Database (future)</a></p>
<p><a href="#"></a></p>
<p><a href="#"></a></p>
<p><a href="#"></a></p>
<p><a href="#"></a></p>