<h1>Resource List</h1>
<ul>
  <li><h2>Ruby</h2></li>
    <ul>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
  <li><h2>Rails</h2></li>
      <ul>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
  <li><h2>Git</h2></li>
      <ul>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
  <li><h2>HTML</h2></li>
      <ul>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
  <li><h2>CSS</h2></li>
      <ul>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
  <li><h2>IDE</h2></li>
      <ul>
        <li><a href="https://www.nitrous.io/join/8VJgm-zW4I4?utm_source=nitrous.io&utm_medium=copypaste&utm_campaign=referral">Nitrous</a></li>
        <li><a href=""></a></li>
      </ul>
  <li><h2>Ubuntu</h2></li>
      <ul>
        <li><a href="https://www.digitalocean.com/community/tutorials/how-to-install-ruby-on-rails-on-ubuntu-12-04-lts-precise-pangolin-with-rvm">
          How To Install Ruby on Rails on Ubuntu 12.04 LTS (Precise Pangolin) with RVM | DigitalOcean</a></li>
        <li><a href="https://www.digitalocean.com/community/tutorials/how-to-install-git-on-ubuntu-14-04#HowToSetUpGit">How To Install Git on Ubuntu 14.04 | DigitalOcean</a></li>
      </ul>
  <li><h2></h2></li>
      <ul>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
</ul>