<div class="title">
  <h2>Ruby on Rails <span class="byline">Tutorials</span></h2>
</div>
<p>Coming soon.</p>

<p><a href="http://guides.rubyonrails.org/getting_started.html">Getting Started with Rails (Blog)</a></p>
<p><a href="https://www.railstutorial.org/book">Ruby on Rails Tutorial (Twitter Clone)</a></p>
<p><a href="http://www.arubystory.com/2015/02/tutorial-hangman-on-ruby-on-rails-on.html">(upcoming) Hangman game</a></p>
<p><a href="http://www.udemy.com"></a>Udemy courses:</p>
<ul>
  <li><a href="#">Learn Ruby on Rails from Scratch</a></li>
  <li><a href="#">Become a Heroku Rails Ninja: Expert Level Deployment Tools</a></li>
  <li><a href="#">Create and Deploy a Web App in 3 Hours</a></li>
  <li><a href="#">Advanced Ruby Programming: 10 steps to Mastery</a></li>
  <li><a href="#">Ruby On Rails for Beginners Practical Ruby On Rails Training</a></li>
  <li><a href="#">Ruby on Rails: Training and Skills to Build Web Applications</a></li>
</ul>
<p><a href="#"></a></p>
<p><a href="#"></a></p>
<p><a href="#"></a></p>