<div class="title">
  <h2>Ruby on Rails <span class="byline">Tutorials</span></h2>
</div>
<p>Coming soon.</p>
<p><a href="#">The Basics</a></p>
<p><a href="#">Twitter Clone</a></p>
<p><a href="#">Hangman game</a></p>
<p><a href="#"></a></p>
<p><a href="#"></a></p>
<p><a href="#"></a></p>
<p><a href="#"></a></p>