<div class="title">
  <h2>Ruby on Rails <span class="byline">Tutorials</span></h2>
</div>

<p><a href="http://guides.rubyonrails.org/getting_started.html">Getting Started with Rails (Blog)</a></p>
<p><a href="https://www.railstutorial.org/book">Ruby on Rails Tutorial (Twitter Clone)</a></p>
<p><a href="http://www.arubystory.com/2015/02/tutorial-hangman-on-ruby-on-rails-on.html">(upcoming) Hangman game</a></p>
<p><a href="http://www.udemy.com">Udemy courses:</a></p>
<ul>
  <li><a href="https://www.udemy.com/learn-ruby-on-rails-from-scratch/?dtcode=ChqJaha2EC5q">Learn Ruby on Rails from Scratch</a></li>
  <li><a href="https://www.udemy.com/become-a-heroku-rails-ninja/?dtcode=he04BjY2EC6w">Become a Heroku Rails Ninja: Expert Level Deployment Tools</a></li>
  <li><a href="https://www.udemy.com/create-and-deploy-a-web-app-in-3-hours/?dtcode=ocIbtBw2EC7f">Create and Deploy a Web App in 3 Hours</a></li>
  <li><a href="https://www.udemy.com/expert-ruby-programming-ten-steps-to-mastery/?dtcode=t4CT3Lu2EC80">Advanced Ruby Programming: 10 steps to Mastery</a></li>
  <li><a href="https://www.udemy.com/beginners-ruby-on-rails/?dtcode=1A6vZaH2EC97">Ruby On Rails for Beginners Practical Ruby On Rails Training</a></li>
  <li><a href="https://www.udemy.com/the-startups-guide-to-web-development-with-ruby-on-rails/?dtcode=xa0Q6hO2ECaw">Ruby on Rails: Training and Skills to Build Web Applications</a></li>
</ul>
<p><a href="#"></a></p>
<p><a href="#"></a></p>
<p><a href="#"></a></p>