<div class="title">
  <h2>See <span class="byline">current categories</span></h2>
</div>
<p>
  <strong>Title:</strong>
  <%= @category.name %>
</p>

<%= link_to 'Edit Category', edit_category_path(@category) %> |
<%= link_to 'Back to Categories', categories_path %>