
<p></p>
<hr>
<p>
<table >
  <tr>
    <td><%= link_to 'Home Page', root_path %></td>
    <td> | </td>
    <td><%= link_to 'Resources', resources_path( :anchor =>"yield") %></td>
  </tr>


</table>
<iframe align="right" src="
//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetAdHtml&ID=OneJS&OneJS=1&banner_type=setandforget&campaigns=holsetforget2&placement=assoc_banner_placement_default&region=US&marketplace=amazon&tracking_id=eckelmeyfamil-20&ad_type=banner&height=60&width=468&linkid=3ZXVBSGZCNUMGUIT&f=ifr
" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
<div class="alignright">
  <script type='text/javascript'>
      amzn_assoc_ad_type = 'banner';
      amzn_assoc_tracking_id = 'eckelmeyfamil-20';
      amzn_assoc_marketplace = 'amazon';
      amzn_assoc_region = 'US';
      amzn_assoc_placement = 'assoc_banner_placement_default';
      amzn_assoc_linkid = 'VKC5WI2U3EMLX56C';
      amzn_assoc_campaigns = 'holsetforget2';
      amzn_assoc_p = '26';
      amzn_assoc_banner_type = 'setandforget';
      amzn_assoc_width = '468';
      amzn_assoc_height = '60';
  </script>
  <script src='//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1'></script>
</div>

</p>